body {
    margin: 0; /*  убираем лишние отступы  */
    font-family: 'Courier New', Courier, monospace; /*  шрифт  */
    font-size: 16px; /*  размер шрифта  */
    text-align: center;
    width: 80vw;
    margin: 0 auto;
}

header {
    background-color: #315af2; /*  цвет фона  */
    color: white; /*  цвет текста  */
    padding: 0; /*  отступы для содержимого шапки */
}

header{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; */
    text-align: center;
}

header *{
    margin-bottom: 10px;
}

.logo{
    font-size: 270%;
    font-family: Impact;
}


main {
    padding: 30px; /*  отступы для содержимого */
}


section{
    display: inline-block;
    text-align: left;
}

.btn {
    background-color: #e9399c;
    color: white;
    font-weight: 900;
    padding: 5px 10px;
    border-radius: 5px;
}

footer {
    background-color: #383838; /*  цвет фона  */
    color: white; /*  цвет текста  */
    padding: 30px; /*  отступы для содержимого подвала */
}